# 데이터 불러오기

In [ ]:
# 필요한 라이브러리 임폴트
import pandas as pd

# 파일 경로 설정
file_path='/content/drive/MyDrive/데이터분석/ns_202104.csv'

# pd.read_csv(file)
df = pd.read_csv(file_path)

# 결과 확인하기
print(df)

<ipython-input-1-381af8b52feb>:8: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]

# 특정 행 추출하기

In [ ]:
### '출판사' 한빛미디어 --> 추출

# '츨판사' 컬럼 및 '한빛미디어'와 관련된 정보 확인
print(df.loc[:, '출판사'])
print('-'*80)
print(df.loc[:, '출판사'].value_counts())
print('-'*80)
print(df.loc[:, '출판사'].value_counts().loc['한빛미디어'])

print('-'*80)

# 출판사 컬럼 추출 --> 비교 연산자 == 이용 --> 결과값 --> 블리언 인덱싱
condition = (df.loc[:, '출판사'] == '한빛미디어') | (df.loc[:, '출판사'] == '민음사')
print(f'비교 연산의 결과 : \n{condition}')

print('-'*80)

# loc + 비교 연산의 결과
df1 = df.loc[condition, :]

# 결과 확인하기
# print(df1)
df1

0           민음사
1          갈매나무
2          블랙피쉬
3         문학세계사
4           김영사
          ...
401677    한국문화사
401678      한나래
401679      민음사
401680       벽호
401681      동문사
Name: 출판사, Length: 401682, dtype: object
--------------------------------------------------------------------------------
출판사
문학동네                   5041
민음사                    4204
김영사                    3577
웅진씽크빅                  3394
시공사                    2871
                       ...
큰솔                        1
전북대학교  20세기민중생활사연구소       1
모루와정                      1
드림엔터                      1
건강다이제스트                   1
Name: count, Length: 21914, dtype: int64
--------------------------------------------------------------------------------
1000
--------------------------------------------------------------------------------
비교 연산의 결과 :
0          True
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679     True
401680    False
401681    False
Name: 출판사, Length: 401682, dtype: bool
--------------------------------------------------------------------------------

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
60,61,(맛있는 디자인)프리미어 프로 CC: 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원,심수진,윤성우,김덕영 지음",한빛미디어,2021,9791162244029,NaN,1,2021,005.567,1,1,2021-03-15
70,71,처음 배우는 애저 (Azure Portal로 배우는 애저 도입부터 활용까지),김도균,한빛미디어,2020,9791162243695,NaN,NaN,NaN,005.74,1,1,2021-03-15
88,89,맛있는 디자인 프리미어 프로 CC 2021 - 쉽게 배워 제대로 써먹는 유튜브 영상 편집,"정지원, 심수진, 윤성우, 김덕영 (지은이)",한빛미디어,2021,9791162244029,NaN,NaN,NaN,NaN,0,0,2021-03-15
111,112,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,0,NaN,813.7,1,0,2021-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400582,400583,원효 철학 에세이,신오현,민음사,2004,9788937454325,9788937454202.0,NaN,NaN,NaN,2,0,1970-01-01
400585,400586,게르만 신화 바그너 히틀러,안인희,민음사,2004,9788937471001,9788937471001.0,NaN,NaN,NaN,1,0,1970-01-01
401036,401037,南海敎育史,南海敎育史 編纂委員會 엮음,민음사,1997,9788937445392,NaN,NaN,NaN,370.911,1,0,1970-01-01
401515,401516,박영희 연구,김윤식 저,민음사,1989,9788937410758,NaN,NaN,NaN,810.906,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01

# 누락 데이터 처리하기

## 누락된 데이터의 수 확인

In [ ]:
### 각 컬럼별 누락 데이터의 수 확인

# isnull() 사용 --> 각 컬럼의 모든 데이터 --> 누락 여부 확인 --> 블리언 값 표시
print(df.isnull())

print('-'*80)

# isnull().sum() 사용 --> 각 컬럼별 누락 데이터의 수 확인
num_nulls = df.isnull().sum()
print(f'각 컬럼별 누락 데이터의 수 : \n{num_nulls}')

           번호    도서명     저자    출판사   발행년도   ISBN  세트 ISBN   부가기호      권  \
0       False  False  False  False  False  False     True   True   True
1       False  False  False  False  False  False     True   True   True
2       False  False  False  False  False  False     True   True   True
3       False  False  False  False  False  False     True   True   True
4       False  False  False  False  False  False     True   True   True
...       ...    ...    ...    ...    ...    ...      ...    ...    ...
401677  False  False  False  False  False  False    False   True  False
401678  False  False  False  False  False  False    False   True  False
401679  False  False  False  False  False  False    False   True  False
401680  False  False  False  False  False  False    False   True  False
401681  False  False  False  False  False  False    False  False  False

        주제분류번호   도서권수   대출건수   등록일자
0         True  False  False  False
1         True  False  False  False
2         True  False  False  False
3         True  False  False  False
4         True  False  False  False
...        ...    ...    ...    ...
401677   False  False  False  False
401678   False  False  False  False
401679   False  False  False  False
401680   False  False  False  False
401681   False  False  False  False

[401682 rows x 13 columns]
--------------------------------------------------------------------------------
각 컬럼별 누락 데이터의 수 :
번호              0
도서명           403
저자            201
출판사          4795
발행년도           17
ISBN            0
세트 ISBN    339811
부가기호        76648
권          333415
주제분류번호      20322
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [ ]:
### 특정 컬럼 --> 누락 데이터가 존재하는 행 index 확인

## 컬럼 --> 도서명 컬럼

# 비교 연산의 기능 --> isnull() 적용
condition = df.loc[:, '도서명'].isnull()
print(f'isnull() 함수를 적용한 결과 : \n{condition}')

print('-'*80)

# 비교 연산의 결과 --> 블리언 인덱싱
index_nulls = df.loc[:, '도서명'].loc[condition].index
print(f'도서명 컬럼에서 누락 데이터의 행 인덱스 추출 : \n{index_nulls}')

isnull() 함수를 적용한 결과 :
0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Name: 도서명, Length: 401682, dtype: bool
--------------------------------------------------------------------------------
도서명 컬럼에서 누락 데이터의 행 인덱스 추출 :
Index([268458, 312643, 317396, 330243, 331460, 336149, 348590, 354596, 370496,
       370497,
       ...
       370904, 370910, 370911, 389793, 389794, 389797, 389798, 389799, 391424,
       392881],
      dtype='int64', length=403)

## 누락 데이터 제거

In [ ]:
### df.dropna() --> 누락된 데이터가 존재하는 모든 행 삭제
df2 = df.dropna(ignore_index=True)
print(f'누락된 데이터가 존재하는 모든 행 삭제의 결과 : \n{df2}')

누락된 데이터가 존재하는 모든 행 삭제의 결과 :
           번호                  도서명                저자   출판사  발행년도  \
0         110                  파친코    이민진 지음 ;이미정 옮김  문학사상  2018
1         111                  파친코    이민진 지음 ;이미정 옮김  문학사상  2018
2         127                  파친코    이민진 지음 ;이미정 옮김  문학사상  2018
3         128                  파친코    이민진 지음 ;이미정 옮김  문학사상  2018
4         129                  파친코    이민진 지음 ;이미정 옮김  문학사상  2018
...       ...                  ...               ...   ...   ...
35822  401671              무량의경 해설            金鉉斗 지음    阿那  2004
35823  401672               료마가 간다  시바 료타로 지음;이길진 옮김    창해  2003
35824  401673  미애와 루이, 318일간의 버스여행  최미애 글;장 루이 볼프 사진    자인  2003
35825  401676                   시귀  오노 후유미 지음;임희선 옮김    들녘  1999
35826  401682           참으로 소중한 생각            김일상 지음   동문사  1995

                ISBN          세트 ISBN 부가기호  권  주제분류번호  도서권수  대출건수        등록일자
0      9788970129815    9788970129808    0  1   843.6     1     0  2021-03-12
1      9788970129822    9788970129808    0  2   843.6     1     0  2021-03-12
2      9788970129815    9788970129808    0  1   843.6     1     0  2021-03-12
3      9788970129815    9788970129808    0  1   843.6     1     0  2021-03-12
4      9788970129822    9788970129808    0  2   843.6     1     0  2021-03-12
...              ...              ...  ... ..     ...   ...   ...         ...
35822  9788989958130  9788989958116.0    0  1  223.54     0     0  1970-01-01
35823  9788979194005  9788979194005.0    0  9   833.6     0     0  1970-01-01
35824  9788989276210  9788989276210.0    0  1  980.24     0     0  1970-01-01
35825  9788975271366  9788975271335.0    (  3   833.6     0     0  1970-01-01
35826  9788970610092  9788970610092.0    0  1   814.6     0     0  1970-01-01

[35827 rows x 13 columns]

In [ ]:
### 도서명 컬럼에 존재하는 누락 데이터 제거

"""
1. 도서명 컬럼에 존재하는 누락 데이터의 행 인덱스 이용
2. 사용 함수 : df.drop(index, columns)
"""

df3 = df.drop(index=index_nulls)

# 결과 확인하기
print(f'전체 데이터에서 도서명 컬럼에 존재하는 누락 데이터를 제거한 결과 : \n{df3}')

전체 데이터에서 도서명 컬럼에 존재하는 누락 데이터를 제거한 결과 :
            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401279 rows x 13 columns]

In [ ]:
### 보충 : drop() --> 특정 데이터를 제거

# 출판사 이름이 '한빛미디어'인 데이터만 제거
condition = (df.loc[:, '출판사'] == '한빛미디어')
target = df.loc[condition, :].index
print(f'출판사 이름이 한빛미디어인 행의 인덱스 : \n{target}')

print('-'*80)

# drop(index) 사용
print(df.drop(index=target))

출판사 이름이 한빛미디어인 행의 인덱스 :
Index([    60,     70,     88,    156,    198,   1573,   1719,   2027,   2029,
         2615,
       ...
       370815, 370824, 374007, 376322, 382536, 383334, 384891, 385028, 385521,
       391053],
      dtype='int64', length=1000)
--------------------------------------------------------------------------------
            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[400682 rows x 13 columns]

In [ ]:
### 도서명 컬럼과 저자 컬럼에 존재하는 누락 데이터 제거

"""
1. dropna() 사용
2. 매개변수 --> subset 이용
"""

df4 = df.dropna(subset=['도서명', '저자'], ignore_index=True)

# 결과 확인하기
print(f'전체 데이터에서 도서명 컬럼과 저자 컬럼에 존재하는 누락 데이터를 제거한 결과 : \n{df4}')

전체 데이터에서 도서명 컬럼과 저자 컬럼에 존재하는 누락 데이터를 제거한 결과 :
            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401076  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401077  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401078  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401079  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401080  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401076  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401077  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401078  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401079  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401080  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401076  1970-01-01
401077  1970-01-01
401078  1970-01-01
401079  1970-01-01
401080  1970-01-01

[401081 rows x 13 columns]

## 누락 데이터 변경하기

In [ ]:
df

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [ ]:
### fillna() 사용

# 변경 전 데이터 확인
print(f'누락 데이터를 대체하기 전 데이터프레임 확인 :\n{df}')

print('-'*80)

# 컬럼별로 대체할 값을 지정 --> python dict 이용
df5 = df.fillna({'세트 ISBN':'단행본', '부가기호':'없음'})

# 결과 확인하기
print(f'누락 데이터를 대체 후 데이터프레임 확인 : \n{df5}')

누락 데이터를 대체하기 전 데이터프레임 확인 :
            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]
--------------------------------------------------------------------------------
누락 데이터를 대체 후 데이터프레임 확인 :
            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              단행본   없음  NaN      NaN     1     0
1       9791190123969              단행본   없음  NaN      NaN     1     0
2       9788968332982              단행본   없음  NaN      NaN     1     0
3       9788970759906              단행본   없음  NaN      NaN     1     0
4       9788934990833              단행본   없음  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0   없음    3  811.608     1     0
401678  9788985367448  9788985367424.0   없음    2   688.04     1     0
401679  9788937401596  9788937401589.0   없음    2    813.6     1     0
401680  9788947700368  9788947700405.0   없음    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]

In [ ]:
### replace() 함수 이용

# 필요한 라이브러리 임폴트
import numpy as np

# df.replace(to_replace, value) 사용
df6 = df.replace(np.nan, '없음')

# 결과 확인하기
print(df6)
print('-'*80)
print(df6.isnull().sum())

            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호   권   주제분류번호  도서권수  대출건수  \
0       9788937444319               없음   없음  없음       없음     1     0
1       9791190123969               없음   없음  없음       없음     1     0
2       9788968332982               없음   없음  없음       없음     1     0
3       9788970759906               없음   없음  없음       없음     1     0
4       9788934990833               없음   없음  없음       없음     1     0
...               ...              ...  ...  ..      ...   ...   ...
401677  9788977352971  9788977352988.0   없음   3  811.608     1     0
401678  9788985367448  9788985367424.0   없음   2   688.04     1     0
401679  9788937401596  9788937401589.0   없음   2    813.6     1     0
401680  9788947700368  9788947700405.0   없음   3   809.05     2     0
401681  9788970610092  9788970610092.0    0   1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]
--------------------------------------------------------------------------------
번호         0
도서명        0
저자         0
출판사        0
발행년도       0
ISBN       0
세트 ISBN    0
부가기호       0
권          0
주제분류번호     0
도서권수       0
대출건수       0
등록일자       0
dtype: int64

# 이상치 처리하기

In [1]:
### 데이터 불러오기

# 필요한 라이브러리 임폴트
import pandas as pd

# 파일 경로 설정
file_path = '/content/drive/MyDrive/데이터분석/weather.csv'

# pd.read_csv() --> DataFrame 생성
df_weather = pd.read_csv(file_path)

# 결과 확인하기
print(df_weather)

       temp  hum   atm  speed
0        17   34  1018    3.1
1        17   34  1018    3.1
2        17   34  1018    3.1
3        17   34  1018    3.1
4        17   34  1018    3.1
...     ...  ...   ...    ...
99995     9   71  1009    2.6
99996     9   71  1009    2.6
99997     9   71  1009    2.6
99998     9   71  1009    2.6
99999     9   71  1009    2.6

[100000 rows x 4 columns]

In [2]:
### 요약 통계량 추출

# 각 컬럼별 8가지 통계량 추출
df_stat = df_weather.describe()

# 결과 확인하기
print(df_stat)

                temp            hum            atm          speed
count  100000.000000  100000.000000  100000.000000  100000.000000
mean       16.909460      78.159290    1005.071590       3.315666
std         3.840548      21.021064       5.657643       1.915367
min         9.000000      17.000000     993.000000       0.500000
25%        15.000000      66.000000    1002.000000       1.500000
50%        16.000000      87.000000    1006.000000       3.100000
75%        19.000000      93.000000    1007.000000       4.600000
max        27.000000     100.000000    1028.000000      10.300000

In [6]:
### 연습 : 온도 컬럼 --> 1사분위 값, 3사분위 값 추출

# 1사분위 값 --> 인덱싱
# q1 = df_stat.loc['25%', 'temp']

# 1사분위 값 --> df.col.quantile(q=0.25)
q1 = df_weather.loc[:, 'temp'].quantile(0.25)
print(f'온도 컬럼의 1사분위 값 : {q1}')

print('-'*80)

# 3사분위 값 --> 인덱싱
# q3 = df_stat.loc['75%','temp']

# 3사분위 값 --> df.col.quantile(q=0.75)
q3 = df_weather.loc[:, 'temp'].quantile(0.75)
print(f'온도 컬럼의 3사분위 값 : {q3}')

온도 컬럼의 1사분위 값 : 15.0
--------------------------------------------------------------------------------
온도 컬럼의 3사분위 값 : 19.0

## 온도 컬럼의 이상치 제거

In [19]:
### 온도 컬럼의 첫번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = df_weather.loc[:, 'temp'].quantile(q=0.25)
q3 = df_weather.loc[:, 'temp'].quantile(q=0.75)
print(f'온도 컬럼의 첫번째 q1 : {q1}')
print('-'*80)
print(f'온도 컬럼의 첫번째 q3 : {q3}')

print('-'*80)

# 첫번째 iqr 측정
iqr = q3 - q1
print(f'온도 컬럼의 첫번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 첫번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'온도 컬럼의 첫번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'온도 컬럼의 첫번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (df_weather.loc[:, 'temp'] < min) | (df_weather.loc[:, 'temp'] > max)
print(f'온도 컬럼의 첫번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = df_weather.loc[condition, 'temp'].index
print(f'온도 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 온도 컬럼에 대한 첫번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_temp1 = df_weather.loc[:, 'temp'].drop(index=outlier_index)
    print(f'온도 컬럼에 대한 첫번째 이상치 제거의 결과 : \n{cleaned_temp1}')

온도 컬럼의 첫번째 q1 : 15.0
--------------------------------------------------------------------------------
온도 컬럼의 첫번째 q3 : 19.0
--------------------------------------------------------------------------------
온도 컬럼의 첫번째 iqr = 4.0
--------------------------------------------------------------------------------
온도 컬럼의 첫번째 정상 범위의 최소값 : 9.0
--------------------------------------------------------------------------------
온도 컬럼의 첫번째 정상 범위의 최대값 : 25.0
--------------------------------------------------------------------------------
온도 컬럼의 첫번째 이상치에 대한 블리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: temp, Length: 100000, dtype: bool
--------------------------------------------------------------------------------
온도 컬럼의 첫번째 이상치 데이터의 인덱스 :
Index([ 3036,  3037,  3038,  3039,  3040,  3041,  3042,  3043,  3044,  3045,
       ...
       73190, 73191, 73192, 73193, 73194, 73195, 73196, 73197, 73198, 73199],
      dtype='int64', length=2516)
--------------------------------------------------------------------------------
온도 컬럼에 대한 첫번째 이상치 제거의 결과 :
0        17
1        17
2        17
3        17
4        17
         ..
99995     9
99996     9
99997     9
99998     9
99999     9
Name: temp, Length: 97484, dtype: int64

In [20]:
### 온도 컬럼의 두번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = cleaned_temp1.quantile(q=0.25)
q3 = cleaned_temp1.quantile(q=0.75)
print(f'온도 컬럼의 두번째 q1 : {q1}')
print('-'*80)
print(f'온도 컬럼의 두번째 q3 : {q3}')

print('-'*80)

# 두번째 iqr 측정
iqr = q3 - q1
print(f'온도 컬럼의 두번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 두번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'온도 컬럼의 두번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'온도 컬럼의 두번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (cleaned_temp1 < min) | (cleaned_temp1 > max)
print(f'온도 컬럼의 두번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = cleaned_temp1.loc[condition].index
print(f'온도 컬럼의 두번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 온도 컬럼에 대한 두번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_temp2 = cleaned_temp1.drop(index=outlier_index)
    print(f'온도 컬럼에 대한 두번째 이상치 제거의 결과 : \n{cleaned_temp2}')

온도 컬럼의 두번째 q1 : 15.0
--------------------------------------------------------------------------------
온도 컬럼의 두번째 q3 : 19.0
--------------------------------------------------------------------------------
온도 컬럼의 두번째 iqr = 4.0
--------------------------------------------------------------------------------
온도 컬럼의 두번째 정상 범위의 최소값 : 9.0
--------------------------------------------------------------------------------
온도 컬럼의 두번째 정상 범위의 최대값 : 25.0
--------------------------------------------------------------------------------
온도 컬럼의 두번째 이상치에 대한 블리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: temp, Length: 97484, dtype: bool
--------------------------------------------------------------------------------
온도 컬럼의 두번째 이상치 데이터의 인덱스 :
Index([], dtype='int64')
--------------------------------------------------------------------------------

## 습도 컬럼의 이상치 제거

In [22]:
### 습도 컬럼의 첫번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = df_weather.loc[:, 'hum'].quantile(q=0.25)
q3 = df_weather.loc[:, 'hum'].quantile(q=0.75)
print(f'습도 컬럼의 첫번째 q1 : {q1}')
print('-'*80)
print(f'습도 컬럼의 첫번째 q3 : {q3}')

print('-'*80)

# 첫번째 iqr 측정
iqr = q3 - q1
print(f'습도 컬럼의 첫번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 첫번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'습도 컬럼의 첫번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'습도 컬럼의 첫번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (df_weather.loc[:, 'hum'] < min) | (df_weather.loc[:, 'hum'] > max)
print(f'습도 컬럼의 첫번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = df_weather.loc[condition, 'hum'].index
print(f'습도 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 온도 컬럼에 대한 첫번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_hum1 = df_weather.loc[:, 'hum'].drop(index=outlier_index)
    print(f'습도 컬럼에 대한 첫번째 이상치 제거의 결과 : \n{cleaned_hum1}')

습도 컬럼의 첫번째 q1 : 66.0
--------------------------------------------------------------------------------
습도 컬럼의 첫번째 q3 : 93.0
--------------------------------------------------------------------------------
습도 컬럼의 첫번째 iqr = 27.0
--------------------------------------------------------------------------------
습도 컬럼의 첫번째 정상 범위의 최소값 : 25.5
--------------------------------------------------------------------------------
습도 컬럼의 첫번째 정상 범위의 최대값 : 133.5
--------------------------------------------------------------------------------
습도 컬럼의 첫번째 이상치에 대한 블리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: hum, Length: 100000, dtype: bool
--------------------------------------------------------------------------------
습도 컬럼의 첫번째 이상치 데이터의 인덱스 :
Index([ 899,  900,  901,  902,  903,  904,  905,  906,  907,  908,
       ...
       4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473],
      dtype='int64', length=3575)
--------------------------------------------------------------------------------
습도 컬럼에 대한 첫번째 이상치 제거의 결과 :
0        34
1        34
2        34
3        34
4        34
         ..
99995    71
99996    71
99997    71
99998    71
99999    71
Name: hum, Length: 96425, dtype: int64

In [23]:
### 습도 컬럼의 두번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = cleaned_hum1.quantile(q=0.25)
q3 = cleaned_hum1.quantile(q=0.75)
print(f'습도 컬럼의 두번째 q1 : {q1}')
print('-'*80)
print(f'습도 컬럼의 두번째 q3 : {q3}')

print('-'*80)

# 두번째 iqr 측정
iqr = q3 - q1
print(f'습도 컬럼의 두번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 두번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'습도 컬럼의 두번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'습도 컬럼의 두번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (cleaned_hum1 < min) | (cleaned_hum1 > max)
print(f'습도 컬럼의 두번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = cleaned_hum1.loc[condition].index
print(f'습도 컬럼의 두번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 습도 컬럼에 대한 두번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_hum2 = cleaned_hum1.drop(index=outlier_index)
    print(f'습도 컬럼에 대한 두번째 이상치 제거의 결과 : \n{cleaned_hum2}')

습도 컬럼의 두번째 q1 : 69.0
--------------------------------------------------------------------------------
습도 컬럼의 두번째 q3 : 93.0
--------------------------------------------------------------------------------
습도 컬럼의 두번째 iqr = 24.0
--------------------------------------------------------------------------------
습도 컬럼의 두번째 정상 범위의 최소값 : 33.0
--------------------------------------------------------------------------------
습도 컬럼의 두번째 정상 범위의 최대값 : 129.0
--------------------------------------------------------------------------------
습도 컬럼의 두번째 이상치에 대한 블리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: hum, Length: 96425, dtype: bool
--------------------------------------------------------------------------------
습도 컬럼의 두번째 이상치 데이터의 인덱스 :
Index([ 180,  181,  182,  183,  184,  185,  186,  187,  188,  189,
       ...
       5904, 5905, 5906, 5907, 5908, 5909, 5910, 5911, 5912, 5913],
      dtype='int64', length=2159)
--------------------------------------------------------------------------------
습도 컬럼에 대한 두번째 이상치 제거의 결과 :
0        34
1        34
2        34
3        34
4        34
         ..
99995    71
99996    71
99997    71
99998    71
99999    71
Name: hum, Length: 94266, dtype: int64

## 기압 컬럼의 이상치 제거

In [25]:
### 기압 컬럼의 첫번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = df_weather.loc[:, 'atm'].quantile(q=0.25)
q3 = df_weather.loc[:, 'atm'].quantile(q=0.75)
print(f'기압 컬럼의 첫번째 q1 : {q1}')
print('-'*80)
print(f'기압 컬럼의 첫번째 q3 : {q3}')

print('-'*80)

# 첫번째 iqr 측정
iqr = q3 - q1
print(f'기압 컬럼의 첫번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 첫번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'기업 컬럼의 첫번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'기압 컬럼의 첫번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (df_weather.loc[:, 'atm'] < min) | (df_weather.loc[:, 'atm'] > max)
print(f'기압 컬럼의 첫번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = df_weather.loc[condition, 'atm'].index
print(f'기압 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 기압 컬럼에 대한 첫번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_atm1 = df_weather.loc[:, 'atm'].drop(index=outlier_index)
    print(f'기업 컬럼에 대한 첫번째 이상치 제거의 결과 : \n{cleaned_atm1}')

기압 컬럼의 첫번째 q1 : 1002.0
--------------------------------------------------------------------------------
기압 컬럼의 첫번째 q3 : 1007.0
--------------------------------------------------------------------------------
기압 컬럼의 첫번째 iqr = 5.0
--------------------------------------------------------------------------------
기업 컬럼의 첫번째 정상 범위의 최소값 : 994.5
--------------------------------------------------------------------------------
기압 컬럼의 첫번째 정상 범위의 최대값 : 1014.5
--------------------------------------------------------------------------------
기압 컬럼의 첫번째 이상치에 대한 블리언 배열 :
0         True
1         True
2         True
3         True
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: atm, Length: 100000, dtype: bool
--------------------------------------------------------------------------------
기압 컬럼의 첫번째 이상치 데이터의 인덱스 :
Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       73730, 73731, 73732, 73733, 73734, 73735, 73736, 73737, 73738, 73739],
      dtype='int64', length=6811)
--------------------------------------------------------------------------------
기업 컬럼에 대한 첫번째 이상치 제거의 결과 :
5193     1014
5194     1014
5195     1014
5196     1014
5197     1014
         ...
99995    1009
99996    1009
99997    1009
99998    1009
99999    1009
Name: atm, Length: 93189, dtype: int64

In [26]:
### 기압 컬럼의 두번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = cleaned_atm1.quantile(q=0.25)
q3 = cleaned_atm1.quantile(q=0.75)
print(f'기압 컬럼의 두번째 q1 : {q1}')
print('-'*80)
print(f'기압 컬럼의 두번째 q3 : {q3}')

print('-'*80)

# 두번째 iqr 측정
iqr = q3 - q1
print(f'기압 컬럼의 두번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 두번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'기압 컬럼의 두번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'기압 컬럼의 두번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (cleaned_atm1 < min) | (cleaned_atm1 > max)
print(f'기업 컬럼의 두번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = cleaned_atm1.loc[condition].index
print(f'기압 컬럼의 두번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 기압 컬럼에 대한 두번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_atm2 = cleaned_atm1.drop(index=outlier_index)
    print(f'기압 컬럼에 대한 두번째 이상치 제거의 결과 : \n{cleaned_atm2}')

기압 컬럼의 두번째 q1 : 1002.0
--------------------------------------------------------------------------------
기압 컬럼의 두번째 q3 : 1007.0
--------------------------------------------------------------------------------
기압 컬럼의 두번째 iqr = 5.0
--------------------------------------------------------------------------------
기압 컬럼의 두번째 정상 범위의 최소값 : 994.5
--------------------------------------------------------------------------------
기압 컬럼의 두번째 정상 범위의 최대값 : 1014.5
--------------------------------------------------------------------------------
기업 컬럼의 두번째 이상치에 대한 블리언 배열 :
5193     False
5194     False
5195     False
5196     False
5197     False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: atm, Length: 93189, dtype: bool
--------------------------------------------------------------------------------
기압 컬럼의 두번째 이상치 데이터의 인덱스 :
Index([], dtype='int64')
--------------------------------------------------------------------------------

## 풍속 컬럼의 이상치 제거

In [27]:
### 풍속 컬럼의 첫번째 이상치 추출

# 1사분위 값 / 3사분위 값
q1 = df_weather.loc[:, 'speed'].quantile(q=0.25)
q3 = df_weather.loc[:, 'speed'].quantile(q=0.75)
print(f'풍속 컬럼의 첫번째 q1 : {q1}')
print('-'*80)
print(f'풍속 컬럼의 첫번째 q3 : {q3}')

print('-'*80)

# 첫번째 iqr 측정
iqr = q3 - q1
print(f'풍속 컬럼의 첫번째 iqr = {iqr}')

print('-'*80)

# 정상 범위의 첫번째 최소 / 최대 값 측정
min = q1 - (iqr*1.5)
max = q3 + (iqr*1.5)
print(f'풍속 컬럼의 첫번째 정상 범위의 최소값 : {min}')
print('-'*80)
print(f'풍속 컬럼의 첫번째 정상 범위의 최대값 : {max}')

print('-'*80)

# 비교 연산 + 논리 연산 적용 --> 조건 설정
condition = (df_weather.loc[:, 'speed'] < min) | (df_weather.loc[:, 'speed'] > max)
print(f'풍속 컬럼의 첫번째 이상치에 대한 블리언 배열 : \n{condition}')

print('-'*80)

# 논리 연산의 결과 --> 블리언 인덱싱 --> 이싱치 데이터 index 추출
outlier_index = df_weather.loc[condition, 'speed'].index
print(f'풍속 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{outlier_index}')

print('-'*80)

# 풍속 컬럼에 대한 첫번째 이상치 제거
if len(outlier_index) > 0:
    cleaned_speed1 = df_weather.loc[:, 'speed'].drop(index=outlier_index)
    print(f'풍속 컬럼에 대한 첫번째 이상치 제거의 결과 : \n{cleaned_speed1}')

풍속 컬럼의 첫번째 q1 : 1.5
--------------------------------------------------------------------------------
풍속 컬럼의 첫번째 q3 : 4.6
--------------------------------------------------------------------------------
풍속 컬럼의 첫번째 iqr = 3.0999999999999996
--------------------------------------------------------------------------------
풍속 컬럼의 첫번째 정상 범위의 최소값 : -3.1499999999999995
--------------------------------------------------------------------------------
풍속 컬럼의 첫번째 정상 범위의 최대값 : 9.25
--------------------------------------------------------------------------------
풍속 컬럼의 첫번째 이상치에 대한 블리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: speed, Length: 100000, dtype: bool
--------------------------------------------------------------------------------
풍속 컬럼의 첫번째 이상치 데이터의 인덱스 :
Index([71403, 71404, 71405, 71406, 71407, 71408, 71409, 71410, 71411, 71412,
       ...
       90267, 90268, 90269, 90270, 90271, 90272, 90273, 90274, 90275, 90276],
      dtype='int64', length=2157)
--------------------------------------------------------------------------------
풍속 컬럼에 대한 첫번째 이상치 제거의 결과 :
0        3.1
1        3.1
2        3.1
3        3.1
4        3.1
        ...
99995    2.6
99996    2.6
99997    2.6
99998    2.6
99999    2.6
Name: speed, Length: 97843, dtype: float64

## Series 병합해서 데이터프레임 생성

In [28]:
### 이상치 제거 후 남아있는 데이터 확인

# 온도 컬럼
print(cleaned_temp1)

print('-'*80)

# 습도 컬럼
print(cleaned_hum1)

print('-'*80)

# 기압 컬럼
print(cleaned_atm1)

print('-'*80)

# 풍속 컬럼
print(cleaned_speed1)

0        17
1        17
2        17
3        17
4        17
         ..
99995     9
99996     9
99997     9
99998     9
99999     9
Name: temp, Length: 97484, dtype: int64
--------------------------------------------------------------------------------
0        34
1        34
2        34
3        34
4        34
         ..
99995    71
99996    71
99997    71
99998    71
99999    71
Name: hum, Length: 96425, dtype: int64
--------------------------------------------------------------------------------
5193     1014
5194     1014
5195     1014
5196     1014
5197     1014
         ...
99995    1009
99996    1009
99997    1009
99998    1009
99999    1009
Name: atm, Length: 93189, dtype: int64
--------------------------------------------------------------------------------
0        3.1
1        3.1
2        3.1
3        3.1
4        3.1
        ...
99995    2.6
99996    2.6
99997    2.6
99998    2.6
99999    2.6
Name: speed, Length: 97843, dtype: float64

In [37]:
### 각 컬럼 병합 --> 데이터프레임
df_concat = pd.concat([cleaned_temp1, cleaned_hum1, cleaned_atm1, cleaned_speed1],
                      axis=1,
                      join='inner')

# 결과 확인하기
print(df_concat)

       temp  hum   atm  speed
5193     23   30  1014    1.5
5194     23   30  1014    1.5
5195     23   30  1014    1.5
5196     23   30  1014    1.5
5197     23   30  1014    1.5
...     ...  ...   ...    ...
99995     9   71  1009    2.6
99996     9   71  1009    2.6
99997     9   71  1009    2.6
99998     9   71  1009    2.6
99999     9   71  1009    2.6

[91751 rows x 4 columns]

In [40]:
### 인덱스 재설정
df_concat.reset_index(drop=True, inplace=True)

# 결과 확인하기
print(df_concat)

       temp  hum   atm  speed
0        23   30  1014    1.5
1        23   30  1014    1.5
2        23   30  1014    1.5
3        23   30  1014    1.5
4        23   30  1014    1.5
...     ...  ...   ...    ...
91746     9   71  1009    2.6
91747     9   71  1009    2.6
91748     9   71  1009    2.6
91749     9   71  1009    2.6
91750     9   71  1009    2.6

[91751 rows x 4 columns]

# Feature Engineering

## label encoding

In [41]:
### 데이터 불러오기

# 파일 경로 설정하기
file_path='/content/drive/MyDrive/데이터분석/iris_dataset.csv'

# pd.read_csv() --> DataFrame
df = pd.read_csv(file_path)

# 결과 확인하기
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

         label
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

In [44]:
### 붓꽃의 품종 --> 품종 종류 알파벳 순서대로 추출

# 필요한 라이브러리 임폴트
import numpy as np

"""
np.unique()
"""

# label 컬럼 --> '값' 추출 --> 1차원 배열 생성
arr = df.loc[:, 'label'].values

# np.unique(ar) 함수 사용 --> 항목 --> 알파벳 순서대로 추출
result = np.unique(arr)

# 결과 확인하기
print(result)

['setosa' 'versicolor' 'virginica']